.lista-tarefas{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 20px auto 0;

}

.btn-new-task{
    margin-top: 35px;
    background: #385170;
    color: #ddd;
    transition: all 0.2s;
    
}

.btn-new-task:hover{
    color: #ddd;
    opacity: 0.7;
}