 .form-tarefa{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 20px auto 0;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
}

.form-tarefa label{
    font-size: 32px;
    color: rgb(126, 126, 126);
    font-family: 'Lobster', cursive;
}

.form-tarefa textarea{
    height: 200px;
}

/* 
.form-tarefa div{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    
}


.form-tarefa label{
    font-size: 32px;
}

.form-tarefa input{
    height: 40px;
    
} */

.buttons{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

.btn-adicionar{
    margin-left: 10px;
    background: #385170;
    color: #ddd;
    transition: all 0.2s;
} 
.btn-adicionar:hover{
    color: #ddd;
    opacity: 0.7;
}

.btn-cancelar{
    color: #385170;
    background: #ddd;
    transition: all 0.2s;
}
.btn-cancelar:hover{
    opacity: 0.7;
    color: #385170;
}

/* #babeee 	(186,190,238) */
/* #7573b6 	(117,115,182)
/* #70acb4 	(112,172,180)
/* #90d2c3 	(144,210,195)
/* #ecf4be */