.list-group{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 20px auto 0;
    background: #fff;
    border-radius: 5px;
}

.list-group h5{
    margin: 0;
    font-family: 'Lobster', cursive;
}